In [2]:
f='//media//ashraful//New Volume//labfiles//text4.txt'
file = open(f, 'r')

In [3]:
with open(f) as fl:
    #print zip(*[line.split() for line in fl])[0]
    da= zip(*[line.split() for line in fl])[0]
with open(f) as fl:
    #print zip(*[line.split() for line in fl])[1]
    ta=zip(*[line.split() for line in fl])[1]

In [4]:
print da
print type(da)
print ta
print type(ta)

('Marks', '30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '90-100')
<type 'tuple'>
('No.__of__students__fi', '3', '7', '20', '25', '20', '15', '10')
<type 'tuple'>

In [5]:
#removing string to conver number
da = da[1:] 
ta = ta[1:]
print da
print type(da)
print ta
print type(ta)

('30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '90-100')
<type 'tuple'>
('3', '7', '20', '25', '20', '15', '10')
<type 'tuple'>

In [6]:
pr=[]
for i in da:
    a=i.split("-")
    #print a[0]
    #print a[1]
    pr.append(float(a[0]))
    pr.append(float(a[1]))
print pr
type(pr)

[30.0, 40.0, 40.0, 50.0, 50.0, 60.0, 60.0, 70.0, 70.0, 80.0, 80.0, 90.0, 90.0, 100.0]

list


## now we get mid values of grouped data

In [7]:
mark=[]
i=0
while(i<(len(pr))):
    k=pr[i]+pr[i+1]
    k=k/2
    mark.append(k)
    i=i+2
lower_lim=pr[0] 
print lower_lim
print mark

30.0
[35.0, 45.0, 55.0, 65.0, 75.0, 85.0, 95.0]

# to seperate feeuency of grouped value

In [8]:

count=[]
for i in ta:
    
    count.append(float(i))

    
print count
type(count)

[3.0, 7.0, 20.0, 25.0, 20.0, 15.0, 10.0]

list

In [9]:
print ta

('3', '7', '20', '25', '20', '15', '10')

# here two column mark & count(freq)

In [10]:
print len(mark)
print type(mark)
print len(count)
print type(count)
print mark  #mid values 
print count #freq

7
<type 'list'>
7
<type 'list'>
[35.0, 45.0, 55.0, 65.0, 75.0, 85.0, 95.0]
[3.0, 7.0, 20.0, 25.0, 20.0, 15.0, 10.0]

# Arithmetic mean

In [11]:
from math import *

In [12]:
i=0
s=0
gm1=0
while(i<len(mark)):
    s=s+mark[i]*count[i]
    gm1=gm1+log(mark[i])*count[i]
  
    i+=1
gm2=gm1/sum(count)
gmf=exp(gm2)
am=s/sum(count) 
#print gm2 
print "geometric mean is ",gmf
print "arthic. mean is ", am

geometric mean is  66.918353445
arthic. mean is  68.7

## total__frequency

In [13]:
tf=sum(count)
print sum(count)

100.0

In [14]:
i=0
s=0
while(i<len(mark)):
    s=s+(count[i]/mark[i])
    
    i+=1
#print s
hm=tf/s
print "harmonic mean is ",hm

harmonic mean is  65.0228033992

# median

# cumulative freq...

In [15]:



print count
i=0
cu=[]
while(i<len(count)):
    if i == 0:
        k=count[i]
        cu.append(k)
    else:
        m=count[i]
        n=cu[i-1]
        k=m+n
        cu.append(k)
    i=i+1
    
    
print cu

[3.0, 7.0, 20.0, 25.0, 20.0, 15.0, 10.0]
[3.0, 10.0, 30.0, 55.0, 75.0, 90.0, 100.0]

# L1

In [16]:

tf1=tf/2

print "total freq ",tf1
i=0

c=24
def find(x,y):
    jk=0
    le=len(cu)
    while(jk<le):
        if cu[jk] < y :
            jk+=1
        else:
            return jk 
        
        


d=find(cu,tf1)

print " indx is ",d    #returned array index 
loc_m=d+1          
print loc_m
L1=pr[2*loc_m-2]     #location of mimium medium grouped data indx
print "me ",L1

total freq  50.0
 indx is  3
4
me  60.0

In [17]:
n1=(tf+1)/2

print n1

50.5

fm = frequency of the median group
fc = cumulative frequency of the group preceding the median group/ Cumulative
frequency of the pre-median class

In [18]:
print count
fm=count[d]
print fm

[3.0, 7.0, 20.0, 25.0, 20.0, 15.0, 10.0]
25.0

In [19]:
print cu
fc=cu[d-1]
print fc

[3.0, 10.0, 30.0, 55.0, 75.0, 90.0, 100.0]
30.0

c
#difference between intervals

In [20]:
c=abs(pr[1]-pr[0])

print c

10.0

In [21]:
d=(n1-fc)/fm
median= L1+d*c

print median

68.2


# Mode: Mode of Group Data

In [22]:
count
#find biggest freq  index

[3.0, 7.0, 20.0, 25.0, 20.0, 15.0, 10.0]

In [23]:
i=0
dcount=[]
while(i<len(count)):
    
    dcount.append(int(count[i]))
        
    
    i=i+1
print dcount  
print type(dcount)
#print numbers[x]

[3, 7, 20, 25, 20, 15, 10]
<type 'list'>

In [24]:
#modal class freq

In [25]:
c=dcount
print c
x = 1
z=0

while x<len(c):
    
    if c[x] >c[z]:
        z=x
    
    x=x+1
    
if len(c) == z: 
    print " _ _^--^ _ _"
else: 
    print "highest fre__ loc " ,z  ,"value  ",c[z]

[3, 7, 20, 25, 20, 15, 10]
highest fre__ loc  3 value   25

In [26]:
#find l1 for  modal class freq
print z

3

In [27]:

d=z

print " indx is ",d    #returned array index 
loc_m=d+1          
print loc_m
L1=pr[2*loc_m-2]     #location of mimium medium grouped data indx
print "me ",L1

 indx is  3
4
me  60.0

In [28]:
print da
print ta
print count

('30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '90-100')
('3', '7', '20', '25', '20', '15', '10')
[3.0, 7.0, 20.0, 25.0, 20.0, 15.0, 10.0]

In [29]:
c=abs(pr[1]-pr[0])

print c
print dcount

10.0
[3, 7, 20, 25, 20, 15, 10]

In [30]:
d1=abs(float(dcount[3]-dcount[2]))
d2=abs(float(dcount[3]-dcount[4]))

In [31]:
print d1,d2

5.0 5.0

In [32]:
d=float(d1/(d1+d2))
print (d)

0.5

In [33]:
mode=L1+c*d

print "mode is ",mode

mode is  65.0

# Mode=Mean – 3(Mean- Median) = 3Median-2Mean

In [34]:
#mode = 3*median-2*am

In [35]:
#print mode

# std deviation

In [36]:
print len(mark)
print type(mark)
print len(count)
print type(count)
print mark  #mid values 
print count #freq

7
<type 'list'>
7
<type 'list'>
[35.0, 45.0, 55.0, 65.0, 75.0, 85.0, 95.0]
[3.0, 7.0, 20.0, 25.0, 20.0, 15.0, 10.0]

In [37]:
import numpy as np

In [38]:
ma_av=np.average(mark)
print ma_av

65.0

In [39]:
i=0
ss=0
while i<len(mark):
    ss=ss+count[i]* (mark[i]-ma_av)**2
    
    i=i+1
    
ss=ss/len(mark)
    
sigma=sqrt(ss) 
print sigma

59.160797831

# variance

In [40]:
v=sigma**2

In [41]:
print v

3500.0

moments (about
mean and about any arbitrary value)

In [42]:
mean=am
print mean

68.7

# 1st central moments about mean

In [43]:


i=0
su=0
while i<len(count):
    su=su+count[i]*(mark[i]-am)
    
    i=i+1
    
ss=su/sum(mark)
    

print ss

-7.49583545417e-16

In [44]:
def cm(mark,count,refvalue,nth):
    i=0
    su=0
    am=refvalue
    while i<len(count):
        su=su+count[i]*(mark[i]-am)**nth
    
        i=i+1
    
    ss=su/sum(mark)
    

    print ss

In [45]:
refvalue=4
nth=3
cm(mark,count,refvalue,nth)

69373.4285714

In [46]:

# Python program to print 
# mode of elements 
from collections import Counter 
  
# list of elements to calculate mode 
n_num = [1, 2, 3, 4, 5] 
n = len(n_num) 
  
data = Counter(n_num) 
get_mode = dict(data) 
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))] 
  
if len(mode) == n: 
    get_mode = "No mode found"
else: 
    get_mode = "Mode is / are: " + ', '.join(map(str, mode)) 
      
print(get_mode)

No mode found